@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0a3642; 
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27A0FF; 
    border-radius: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5cb8ff; 
  }

  /* Utility to hide scrollbar but keep functionality */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}